In [29]:
cd "Trabajo 1"

[WinError 2] The system cannot find the file specified: 'Trabajo 1'
c:\Users\etien\OneDrive\Documentos\Ramos\Inteligencia de negocios\Trabajo 1

In [30]:
import pandas as pd
import numpy as np

df = pd.read_csv("train.csv", header=None)
df.head(5)

         0        1         2        3        4       5
0  44.0380  7.71640  42.49700   6.2617  1.00860  3.3859
1  -8.4255  0.87524  -1.41120  -5.2240  1.24650  4.3779
2 -18.6710  0.99898  -4.35750  -6.2929  0.22110  4.4969
3  45.2560  8.49280  50.61900   3.9974  1.83330  3.4199
4 -12.7770  2.06560   0.22661 -10.6520 -0.60333  4.2499

In [31]:
df_sh = df.sample(frac=1).reset_index(drop=True) # Reordenar valores aleatoriamente.
df_sh.head(5)

         0        1        2        3        4       5
0 -11.4830   3.3142  -6.3201  -4.6073 -0.40540  4.2429
1 -36.3550  -1.0219   2.5028   3.9395  0.24795  5.1059
2   7.0099   2.5101   1.8744 -16.0860 -1.02110  4.1769
3  -2.6432   1.4265  -7.7622 -10.2160  0.59493  4.4289
4  48.7510  14.2430  56.7570   4.9347  1.27880  3.2559

In [32]:
df_sh.columns

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [33]:
Xe = df_sh.drop(labels=[5], axis=1)
Xe.head(5)

         0        1        2        3        4
0 -11.4830   3.3142  -6.3201  -4.6073 -0.40540
1 -36.3550  -1.0219   2.5028   3.9395  0.24795
2   7.0099   2.5101   1.8744 -16.0860 -1.02110
3  -2.6432   1.4265  -7.7622 -10.2160  0.59493
4  48.7510  14.2430  56.7570   4.9347  1.27880

In [34]:
Ye = df_sh[5]
Ye.head(5)

0    4.2429
1    5.1059
2    4.1769
3    4.4289
4    3.2559
Name: 5, dtype: float64

In [35]:
Xe.to_numpy()

array([[-11.483  ,   3.3142 ,  -6.3201 ,  -4.6073 ,  -0.4054 ],
       [-36.355  ,  -1.0219 ,   2.5028 ,   3.9395 ,   0.24795],
       [  7.0099 ,   2.5101 ,   1.8744 , -16.086  ,  -1.0211 ],
       ...,
       [-53.525  ,  -2.955  ,   2.4854 ,   6.4745 ,   0.68666],
       [ -1.7051 ,   3.1361 ,  -1.0943 ,  -6.4069 ,  -1.3492 ],
       [  3.3097 ,   3.0777 , -14.797  ,   4.1791 ,   0.08197]])

In [36]:
Ye.min()

1.6459

In [37]:
Ye.max()

5.5959

In [38]:
Xe.mean()

0   -8.585263
1    1.917864
2    2.113191
3   -0.360373
4   -0.029521
dtype: float64

In [91]:
def normalize(df):
    a = 0.01
    b = 0.99
    df_norm = pd.DataFrame()

    for col in df:
        min_ = df[col].min()
        max_ = df[col].max()

        df_norm[col] = (df[col] - min_) * (b - a) / (max_ - min_) + a

    return df_norm

normalize(Xe).head()

          0         1         2         3         4
0  0.354211  0.371222  0.440358  0.498136  0.404415
1  0.165359  0.208806  0.491919  0.675572  0.486258
2  0.494627  0.341103  0.488247  0.259832  0.327288
3  0.421332  0.300515  0.431931  0.381696  0.529723
4  0.811566  0.780579  0.808982  0.696233  0.615390

In [80]:
Xe

           0         1         2         3         4
0   -11.4830   3.31420  -6.32010  -4.60730 -0.405400
1   -36.3550  -1.02190   2.50280   3.93950  0.247950
2     7.0099   2.51010   1.87440 -16.08600 -1.021100
3    -2.6432   1.42650  -7.76220 -10.21600  0.594930
4    48.7510  14.24300  56.75700   4.93470  1.278800
..       ...       ...       ...       ...       ...
370 -34.6230  -0.99762   0.31463   0.36829  0.483540
371 -18.2390   1.73250   0.47259  -4.81530  0.036221
372 -53.5250  -2.95500   2.48540   6.47450  0.686660
373  -1.7051   3.13610  -1.09430  -6.40690 -1.349200
374   3.3097   3.07770 -14.79700   4.17910  0.081970

[375 rows x 5 columns]

In [82]:
Ye

0      4.2429
1      5.1059
2      4.1769
3      4.4289
4      3.2559
        ...
370    4.8039
371    4.1769
372    5.4899
373    3.5949
374    3.9929
Name: 5, Length: 375, dtype: float64

In [59]:
nodes = 20
x = 5
w1 = [ [ np.random.random() for n in range(nodes) ] for i in range(x) ]
len(w1[0])

20

In [166]:
w1 = np.random.random((nodes, x))
w2 = np.random.random((1, nodes)) #dim -> (1x20)

In [173]:
def act_sigmoid(z):
    return(1/(1+np.exp(-z)))

In [72]:
normalize(Xe).loc[0]

0    0.354211
1    0.371222
2    0.440358
3    0.498136
4    0.404415
Name: 0, dtype: float64

In [78]:
np.dot(w1, normalize(Xe).loc[0]) # (20x5) * ()

array([0.85163956, 0.61342143, 0.85006823, 1.01549225, 0.82765382,
       0.73086046, 1.07533939, 0.4326841 , 0.69703258, 0.90493186,
       0.89291201, 1.53194783, 0.73238853, 1.29304201, 0.83665627,
       0.66836265, 1.08109468, 1.49477048, 1.12666439, 1.10295486])

In [125]:
normalize(Xe).to_numpy().transpose().shape

(5, 375)

In [127]:
np.dot(w1, normalize(Xe).to_numpy().transpose()).shape

(20, 375)

In [120]:
normalize(df).drop(labels=[i for i in range(5)],axis = 1)

            5
0    0.441696
1    0.687813
2    0.717337
3    0.450132
4    0.656056
..        ...
370  0.477919
371  0.801691
372  0.162582
373  0.796729
374  0.603210

[375 rows x 1 columns]

In [137]:
def norm(df):
    a = 0.01
    b = 0.99
    df_norm = pd.DataFrame()

    for col in df:
        min_ = df[col].min()
        max_ = df[col].max()

        df_norm[col] = (df[col] - min_) * (b - a) / (max_ - min_) + a
    
    x = df_norm.drop(labels=[5], axis=1)
    y = df_norm.drop(labels=[i for i in range(5)],axis = 1)

    return (x.to_numpy(),y.to_numpy())

In [159]:
Xe, Ye = norm(df)
Xe.T.shape

(5, 375)

In [167]:
z1 = np.dot(w1, Xe.T )
z1

array([[2.37690185, 1.63631982, 1.42020673, ..., 1.72400143, 1.48540359,
        1.66838797],
       [1.89210065, 1.36270849, 1.21703283, ..., 1.50880459, 1.33028148,
        1.38501654],
       [1.35261476, 0.77046836, 0.71719566, ..., 1.35097671, 0.68335197,
        0.8952246 ],
       ...,
       [1.75126985, 1.05338134, 0.98633523, ..., 1.73270613, 1.09039982,
        1.14545251],
       [1.684781  , 1.01680094, 0.95159125, ..., 1.42733079, 0.95022923,
        1.13996531],
       [1.02348671, 0.78741904, 0.69959984, ..., 0.99973505, 0.82823402,
        0.76980307]])

In [175]:
z2 = np.dot(w2, act_sigmoid(z1))
act_sigmoid(z2)

array([[0.99987849],
       [0.99967576],
       [0.99959504],
       [0.99988891],
       [0.99957432],
       [0.99973168],
       [0.99966967],
       [0.99959518],
       [0.9996119 ],
       [0.99962804],
       [0.99960893],
       [0.99963849],
       [0.99961924],
       [0.99963506],
       [0.99954237],
       [0.99957671],
       [0.99958994],
       [0.99971549],
       [0.99960286],
       [0.99967799],
       [0.99991381],
       [0.99966075],
       [0.99952622],
       [0.99958663],
       [0.99970592],
       [0.99967301],
       [0.99984784],
       [0.99957843],
       [0.9996357 ],
       [0.99962296],
       [0.99959653],
       [0.99959451],
       [0.99973207],
       [0.99959667],
       [0.99991526],
       [0.99960202],
       [0.99958037],
       [0.99965306],
       [0.99955813],
       [0.99957669],
       [0.99990371],
       [0.99983089],
       [0.99959119],
       [0.99967021],
       [0.99957789],
       [0.9996161 ],
       [0.99985257],
       [0.9998907 ],
       [0.99988941],
       [0.99956021],
       [0.99961005],
       [0.99971936],
       [0.99960463],
       [0.99956036],
       [0.99976016],
       [0.9996648 ],
       [0.99965443],
       [0.99973959],
       [0.99957519],
       [0.99968566],
       [0.99967396],
       [0.99967362],
       [0.99974296],
       [0.99958889],
       [0.99964835],
       [0.99969879],
       [0.99963094],
       [0.99956372],
       [0.9997883 ],
       [0.99957808],
       [0.99975742],
       [0.99958949],
       [0.99970336],
       [0.99958628],
       [0.99954257],
       [0.9996531 ],
       [0.99960496],
       [0.99961597],
       [0.99957962],
       [0.99959821],
       [0.99958827],
       [0.9997049 ],
       [0.99972188],
       [0.9996615 ],
       [0.9996777 ],
       [0.9995889 ],
       [0.99962532],
       [0.99965848],
       [0.99987408],
       [0.99962662],
       [0.99959719],
       [0.99964486],
       [0.99963058],
       [0.99976471],
       [0.99962467],
       [0.99962   ],
       [0.99961987],
       [0.99972393],
       [0.99953123],
       [0.99962389],
       [0.99972321],
       [0.99961172],
       [0.99960044],
       [0.9995331 ],
       [0.99962274],
       [0.99963986],
       [0.99989093],
       [0.99961435],
       [0.99983953],
       [0.99989167],
       [0.99991343],
       [0.99970199],
       [0.99984983],
       [0.99960802],
       [0.99959053],
       [0.99987451],
       [0.99962854],
       [0.99960916],
       [0.99958736],
       [0.9995894 ],
       [0.99972295],
       [0.99959075],
       [0.99958536],
       [0.99960393],
       [0.99958295],
       [0.99957864],
       [0.99957664],
       [0.99962064],
       [0.99972361],
       [0.99957198],
       [0.99954042],
       [0.99971963],
       [0.99965835],
       [0.99955129],
       [0.9995509 ],
       [0.99975223],
       [0.99962754],
       [0.99968563],
       [0.99967154],
       [0.99971124],
       [0.99972536],
       [0.99968721],
       [0.99957756],
       [0.99958173],
       [0.9998172 ],
       [0.99974636],
       [0.99959458],
       [0.99965286],
       [0.99954313],
       [0.99963805],
       [0.99958209],
       [0.99973638],
       [0.99972071],
       [0.99965756],
       [0.99968471],
       [0.99956324],
       [0.99962738],
       [0.99956449],
       [0.99962154],
       [0.99962058],
       [0.99956444],
       [0.99973052],
       [0.99955969],
       [0.99963078],
       [0.9996343 ],
       [0.99969707],
       [0.99961583],
       [0.99992104],
       [0.99956074],
       [0.99958037],
       [0.99983737],
       [0.99960581],
       [0.99969003],
       [0.99957217],
       [0.99963913],
       [0.99959554],
       [0.99966131],
       [0.99953161],
       [0.99952821],
       [0.99957046],
       [0.99963487],
       [0.9996249 ],
       [0.99957255],
       [0.99965186],
       [0.99959533],
       [0.99975246],
       [0.99955073],
       [0.99956435],
       [0.9996946 ],
       [0.99967445],
       [0.99965243],
       [0.99966274],
       [0.99990545],
       [0.99957843],
       [0.9995964 ],
       [0.99954761],
       [0.99971249],
       [0.99957632],
       [0.99959923],
       [0.99993228],
       [0.99961785],
       [0.99973298],
       [0.99959997],
       [0.99963392],
       [0.99964485],
       [0.99958682],
       [0.99960456],
       [0.99989756],
       [0.99968317],
       [0.99964998],
       [0.99965796],
       [0.99963977],
       [0.9998946 ],
       [0.99958192],
       [0.99962257],
       [0.99958319],
       [0.99964137],
       [0.9996566 ],
       [0.99983472],
       [0.99952919],
       [0.99958481],
       [0.99962643],
       [0.99989283],
       [0.99964314],
       [0.99963443],
       [0.99988657],
       [0.99955516],
       [0.99962481],
       [0.99967118],
       [0.99953338],
       [0.99962637],
       [0.99989722],
       [0.99954072],
       [0.99958512],
       [0.99957577],
       [0.99960826],
       [0.99972439],
       [0.99963979],
       [0.9995392 ],
       [0.99968966],
       [0.9997068 ],
       [0.99990526],
       [0.99960354],
       [0.99958122],
       [0.99962472],
       [0.99966024],
       [0.99974815],
       [0.99958456],
       [0.99973359],
       [0.99953413],
       [0.9997197 ],
       [0.99967593],
       [0.99962073],
       [0.99974035],
       [0.99953016],
       [0.99960622],
       [0.99959656],
       [0.99956851],
       [0.99959733],
       [0.99959364],
       [0.99959376],
       [0.99958468],
       [0.99966231],
       [0.99962036],
       [0.99958741],
       [0.99989497],
       [0.99991055],
       [0.99968138],
       [0.9995987 ],
       [0.99959058],
       [0.99963788],
       [0.99966173],
       [0.99959816],
       [0.99955963],
       [0.99958914],
       [0.99958684],
       [0.9995574 ],
       [0.99971149],
       [0.99957485],
       [0.99967017],
       [0.99968062],
       [0.99958232],
       [0.9996275 ],
       [0.99959056],
       [0.99973436],
       [0.99971271],
       [0.99960752],
       [0.99966711],
       [0.99961729],
       [0.99966561],
       [0.9995395 ],
       [0.99990644],
       [0.99962962],
       [0.99955608],
       [0.99960068],
       [0.99957449],
       [0.99970994],
       [0.99985079],
       [0.99965776],
       [0.99969461],
       [0.99954557],
       [0.99962166],
       [0.99963379],
       [0.9995717 ],
       [0.99959625],
       [0.99972048],
       [0.99959165],
       [0.99967776],
       [0.99960276],
       [0.99963783],
       [0.99959171],
       [0.99974312],
       [0.99963962],
       [0.99956924],
       [0.99965623],
       [0.99969386],
       [0.99971905],
       [0.99966642],
       [0.99955999],
       [0.99970055],
       [0.99988315],
       [0.99956893],
       [0.99961446],
       [0.9996295 ],
       [0.99984054],
       [0.99975644],
       [0.9995478 ],
       [0.9996909 ],
       [0.99975096],
       [0.99959882],
       [0.99958777],
       [0.99956488],
       [0.9997522 ],
       [0.99965608],
       [0.99989954],
       [0.99961925],
       [0.99962207],
       [0.99962402],
       [0.99960257],
       [0.99957551],
       [0.99962121],
       [0.99979708],
       [0.99959272],
       [0.99958475],
       [0.99959258],
       [0.99963216],
       [0.99960866],
       [0.99960014],
       [0.99964399],
       [0.99952821],
       [0.9997304 ],
       [0.9995783 ],
       [0.99962461],
       [0.99972791],
       [0.99964017],
       [0.9995844 ],
       [0.99961141],
       [0.99965349],
       [0.99959179],
       [0.9995944 ],
       [0.99985706],
       [0.99955863],
       [0.99967081],
       [0.99958625],
       [0.9996185 ],
       [0.9996332 ],
       [0.99960965],
       [0.99987248],
       [0.99959599],
       [0.99963997],
       [0.99964865],
       [0.99958466],
       [0.99983813],
       [0.99962095],
       [0.99971968]])

In [176]:
Ye

array([[0.4416962 ],
       [0.68781266],
       [0.71733671],
       [0.45013165],
       [0.6560557 ],
       [0.6962481 ],
       [0.64588354],
       [0.73842532],
       [0.79077468],
       [0.49354937],
       [0.77340759],
       [0.68533165],
       [0.81508861],
       [0.64042532],
       [0.96891139],
       [0.91829873],
       [0.77092658],
       [0.67764051],
       [0.78878987],
       [0.55036456],
       [0.45856709],
       [0.64017722],
       [0.98702278],
       [0.53696709],
       [0.37173165],
       [0.73916962],
       [0.01      ],
       [0.85825823],
       [0.76794937],
       [0.77117468],
       [0.83022278],
       [0.80268354],
       [0.54589873],
       [0.62504304],
       [0.15737215],
       [0.88703797],
       [0.82451646],
       [0.72924557],
       [0.94484557],
       [0.85726582],
       [0.34419241],
       [0.27918987],
       [0.73644051],
       [0.60767595],
       [0.66101772],
       [0.63099747],
       [0.21344304],
       [0.26033418],
       [0.37669367],
       [0.94509367],
       [0.78035443],
       [0.50669873],
       [0.52704304],
       [0.72453165],
       [0.5592962 ],
       [0.62826835],
       [0.7349519 ],
       [0.48734684],
       [0.84585316],
       [0.63298228],
       [0.61065316],
       [0.56152911],
       [0.73197468],
       [0.78754937],
       [0.52505823],
       [0.57393418],
       [0.75107848],
       [0.9312    ],
       [0.57120506],
       [0.66225823],
       [0.63620759],
       [0.6379443 ],
       [0.65233418],
       [0.52927595],
       [0.96518987],
       [0.57070886],
       [0.72899747],
       [0.62330633],
       [0.85726582],
       [0.83468861],
       [0.86073924],
       [0.39282025],
       [0.60321013],
       [0.68235443],
       [0.51066835],
       [0.7153519 ],
       [0.6379443 ],
       [0.68557975],
       [0.19210633],
       [0.53448608],
       [0.86669367],
       [0.70393924],
       [0.72130633],
       [0.63819241],
       [0.7944962 ],
       [0.66597975],
       [0.51761519],
       [0.67193418],
       [0.97883544],
       [0.88753418],
       [0.55656709],
       [0.78581266],
       [0.68954937],
       [0.97610633],
       [0.6372    ],
       [0.74636456],
       [0.47320506],
       [0.66920506],
       [0.20972152],
       [0.45856709],
       [0.34915443],
       [0.43598987],
       [0.31119494],
       [0.7548    ],
       [0.78779747],
       [0.36974684],
       [0.74636456],
       [0.55061266],
       [0.80838987],
       [0.73941772],
       [0.69500759],
       [0.52257722],
       [0.74537215],
       [0.83171139],
       [0.81905823],
       [0.88852658],
       [0.90787848],
       [0.71460759],
       [0.57194937],
       [0.67243038],
       [0.96593418],
       [0.62802025],
       [0.60097722],
       [0.94410127],
       [0.95303291],
       [0.66275443],
       [0.54614684],
       [0.61065316],
       [0.62479494],
       [0.75604051],
       [0.69401519],
       [0.58757975],
       [0.82302785],
       [0.82550886],
       [0.20153418],
       [0.69823291],
       [0.66101772],
       [0.5791443 ],
       [0.98131646],
       [0.55706329],
       [0.65853671],
       [0.64389873],
       [0.43400506],
       [0.53150886],
       [0.64737215],
       [0.93963544],
       [0.80342785],
       [0.95328101],
       [0.47518987],
       [0.52555443],
       [0.6761519 ],
       [0.72726076],
       [0.93641013],
       [0.83592911],
       [0.60767595],
       [0.65010127],
       [0.68260253],
       [0.32012658],
       [0.97312911],
       [0.89522532],
       [0.47816709],
       [0.84610127],
       [0.74338734],
       [0.91457722],
       [0.66424304],
       [0.84510886],
       [0.76968608],
       [0.97933165],
       [0.98255696],
       [0.49677468],
       [0.53746329],
       [0.77167089],
       [0.76844557],
       [0.68309873],
       [0.74264304],
       [0.52580253],
       [0.94484557],
       [0.71907342],
       [0.63372658],
       [0.62578734],
       [0.50744304],
       [0.41043544],
       [0.18143797],
       [0.85825823],
       [0.5004962 ],
       [0.95526582],
       [0.48288101],
       [0.80665316],
       [0.86843038],
       [0.41217215],
       [0.78804557],
       [0.51587848],
       [0.68582785],
       [0.59899241],
       [0.60767595],
       [0.7548    ],
       [0.29258734],
       [0.46725063],
       [0.65109367],
       [0.48908354],
       [0.67441519],
       [0.59452658],
       [0.43574177],
       [0.78233924],
       [0.58534684],
       [0.79027848],
       [0.62355443],
       [0.66746835],
       [0.34766582],
       [0.98900759],
       [0.62206582],
       [0.78010633],
       [0.44616203],
       [0.51637468],
       [0.64910886],
       [0.37173165],
       [0.48164051],
       [0.65233418],
       [0.5987443 ],
       [0.97933165],
       [0.53150886],
       [0.50694684],
       [0.96643038],
       [0.84560506],
       [0.75752911],
       [0.4600557 ],
       [0.59229367],
       [0.52332152],
       [0.98429367],
       [0.59998481],
       [0.60742785],
       [0.3828962 ],
       [0.53473418],
       [0.7935038 ],
       [0.73296709],
       [0.66722025],
       [0.21170633],
       [0.49528608],
       [0.52902785],
       [0.97610633],
       [0.55309367],
       [0.50744304],
       [0.52282532],
       [0.67193418],
       [0.99      ],
       [0.76844557],
       [0.88877468],
       [0.39009114],
       [0.7352    ],
       [0.86173165],
       [0.6764    ],
       [0.90341266],
       [0.67292658],
       [0.71113418],
       [0.62107342],
       [0.37297215],
       [0.37917468],
       [0.56922025],
       [0.88455696],
       [0.80739747],
       [0.75008608],
       [0.47593418],
       [0.85875443],
       [0.92350886],
       [0.57145316],
       [0.87587342],
       [0.94013165],
       [0.62950886],
       [0.61412658],
       [0.55557468],
       [0.1472    ],
       [0.77092658],
       [0.60717975],
       [0.80392405],
       [0.49354937],
       [0.68012152],
       [0.80690127],
       [0.68533165],
       [0.77241519],
       [0.56723544],
       [0.96370127],
       [0.40944304],
       [0.5776557 ],
       [0.93219241],
       [0.76100253],
       [0.9319443 ],
       [0.69848101],
       [0.44665823],
       [0.56698734],
       [0.56847595],
       [0.9505519 ],
       [0.76794937],
       [0.80665316],
       [0.70195443],
       [0.73941772],
       [0.68607595],
       [0.73023797],
       [0.68309873],
       [0.61586329],
       [0.59204557],
       [0.7543038 ],
       [0.58609114],
       [0.44938734],
       [0.60469873],
       [0.30151899],
       [0.72081013],
       [0.60494684],
       [0.70939747],
       [0.4407038 ],
       [0.49553418],
       [0.38562532],
       [0.87364051],
       [0.57691139],
       [0.70046582],
       [0.29382785],
       [0.63248608],
       [0.96419747],
       [0.72701266],
       [0.68136203],
       [0.71038987],
       [0.60196962],
       [0.91333671],
       [0.72800506],
       [0.67391899],
       [0.45360506],
       [0.75058228],
       [0.85925063],
       [0.54515443],
       [0.47295696],
       [0.59675949],
       [0.69996962],
       [0.58485063],
       [0.72577215],
       [0.7741519 ],
       [0.81608101],
       [0.58435443],
       [0.68384304],
       [0.8327038 ],
       [0.55656709],
       [0.98776709],
       [0.47270886],
       [0.61387848],
       [0.73371139],
       [0.52108861],
       [0.65431899],
       [0.73743291],
       [0.56649114],
       [0.42631392],
       [0.79821772],
       [0.81831392],
       [0.39505316],
       [0.95824304],
       [0.63943291],
       [0.86148354],
       [0.70170633],
       [0.53721519],
       [0.78407595],
       [0.47940759],
       [0.80764557],
       [0.74810127],
       [0.47791899],
       [0.80169114],
       [0.16258228],
       [0.79672911],
       [0.60321013]])