In [18]:
import pandas as pd
import numpy as np
import my_utility as ut





fname="test.csv"
df = pd.read_csv(fname, header=None) 
df.head(5)

         0       1         2        3        4       5
0  -3.3137  2.8235  -1.00720 -10.2100  1.25900  4.1719
1 -53.5250 -2.9551   2.49200   6.4741  0.68624  5.4949
2   6.9467  4.6612  13.06300   1.5005 -2.41440  4.4499
3   4.8898  5.8540  12.14500   2.6072 -2.78970  4.4949
4   5.7353 -1.8447   0.63886   1.2181 -0.57988  3.5419

In [8]:
df = df.sample(frac=1).reset_index(drop=True) 
df.head(5)

        0        1        2          3        4       5
0 -30.063 -0.40484  0.85345  -0.088737  0.39713  4.8669
1 -55.169 -3.16290  2.55920   6.621400  0.74906  5.5369
2  -5.409  3.21520 -1.41330 -14.034000  0.47027  4.0089
3 -53.292 -2.92290  2.45900   6.459900  0.66538  5.5459
4 -36.919 -1.75790  1.80660   4.569300  0.47763  5.1219

In [22]:
# function normalize
def norm(df):
    a = 0.01
    b = 0.99
    df_norm = pd.DataFrame()

    for col in df:
        min_ = df[col].min()
        max_ = df[col].max()

        df_norm[col] = (df[col] - min_) * (b - a) / (max_ - min_) + a
    
    x = df_norm.drop(labels=[5], axis=1)
    y = df_norm.drop(labels=[i for i in range(5)],axis = 1)

    return (x.to_numpy(),y.to_numpy())

x , y = norm(df)

In [32]:
def iniW(nodes_hidden, x, y):
    _, size_input = x.shape # 375, 5
    size_output, _ = y.shape # 1, 375
    # Init. w1 y w2 
    w1 = np.random.random((nodes_hidden, size_input)) #dim -> (20x5)
    w2 = np.random.random((size_output, nodes_hidden)) #dim -> (1x20)
       
    return(w1,w2)

w1 , w2 = iniW(10, x, y)

In [35]:
def forward(x,w1,w2):
    # Calcula la activación de los Nodos Ocultos
    z1 = np.dot(w1, x.T)
    a1 = act_sigmoid(z1)
    # Calcula la activación de los Nodos de Salida
    z2 = np.dot(w2, a1)
    a2 = act_sigmoid(z2)

    return a2.T

In [37]:
#Activation function
def act_sigmoid(z):
    return(1/(1+np.exp(-z)))   

# Derivate of the activation funciton
def deriva_sigmoid(a):
    return(a*(1-a))

In [41]:
zv     = forward(x,w1,w2)
zv

array([[0.90901388, 0.97929839, 0.98565721, ..., 0.97377384, 0.98036786,
        0.96103857],
       [0.92486842, 0.98410561, 0.98980878, ..., 0.97920548, 0.98594553,
        0.96738321],
       [0.92843699, 0.98533993, 0.99067542, ..., 0.98075526, 0.98697074,
        0.96960183],
       ...,
       [0.91089018, 0.9798858 , 0.98617359, ..., 0.97440063, 0.98102086,
        0.9617632 ],
       [0.91329586, 0.98058555, 0.9867908 , ..., 0.97516263, 0.98182776,
        0.96263342],
       [0.92446981, 0.98394881, 0.98945964, ..., 0.978765  , 0.98495399,
        0.96720689]])

In [154]:
	xv, yv = ut.load_data('test.csv')			
	w1,w2  = ut.load_w('w_snn.npz')
	zv     = ut.forward(xv,w1,w2)      		
	metrica(yv,zv)

In [155]:
#e = y-zv
def metrica(x,y):

    #completar code
    e =  x - y
    n = len(x)
    
    #Calculo de MAE
    absolute = np.absolute(e)
    mae = 1/n * np.sum(absolute)
    
    #Calculo de MSE Y RMSE
    diffSquare = e**2
    suma = np.sum(diffSquare)
    mse = 1/n * suma
    rmse = np.sqrt(mse)
    
    #Calculo de R2
    varE = e.var()#np.var(e)
    varY = x.var()#np.var(x)
    r2 = 1 - (varE/varY)

    
    #print('mae',mae)
    #print('mse',mse)
    #print('rmse',rmse)
    #print('mse',mse) 
    #print('var e',varE)
    #print('vat y',varY)
    #print('varE/varY',varE/varY)
    #print('R2',r2)
    
    #Guardado en archivo metrica.csv
    archivo = open('metricas.csv', 'w')
    archivo.write('MAE: '+ str(mae))
    archivo.write("\n")
    archivo.write('RMSE: '+ str(rmse))
    archivo.write("\n")
    archivo.write('R2: '+ str(r2))
    archivo.close()